.card {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--primary);
  padding: 40px 30px;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  position: relative;
  border-radius: 12px;

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: -6px;
    bottom: -6px;
    border: 1px solid var(--primary);
    z-index: -1;
    border-radius: 12px;
  }
}
