.divider {
  display: flex;
  align-items: center;
  margin: 25px 0;
  color: var(--primary);
  font-weight: bold;
}

.divider::before, .divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid var(--primary);
  margin: 0 10px;
}
