<div class="kanban-card">
  <div class="kanban-card__header">
    <h3 class="kanban-card__title">{{ card.title }}</h3>
    @if (card.priority) {
      <span
        class="kanban-card__priority"
        [style.background-color]="getPriorityColor()">
        {{ getPriorityLabel() }}
      </span>
    }
  </div>

  @if (card.description) {
    <div class="kanban-card__body">
      <p class="kanban-card__description">{{ card.description }}</p>
    </div>
  }

  <div class="kanban-card__footer">
    <span class="kanban-card__id">#{{ card.id }}</span>
    <button class="kanban-card__action" type="button" (click)="toggleCardOptions">
      <span class="material-symbols-outlined">more_horiz</span>
    </button>
  </div>

  <!--
  todo: options or maybe just use a delete button
  @if (isOptionsOpen) {-->
  <!--      <ul class="kanban-card__options-menu"-->
  <!--          [style.top.px]="optionsPosition.top"-->
  <!--          [style.left.px]="optionsPosition.left">-->
  <!--      >-->
  <!--        <li (click)="onAction('edit')"> Editar</li>-->
  <!--        <li (click)="onAction('move')">Mover</li>-->
  <!--        <li (click)="onAction('delete')">Excluir</li>-->
  <!--      </ul>-->
  <!--    }-->

</div>
