:root {
  --primary: var(--black);
  --secondary: var(--white);
  --accent: var(--blue);
  --bg: var(--white);
  --danger: var(--red);
  --warning: var(--yellow);
  --shadow-color: var(--gray);
  --border: solid 2px var(--primary);
  --accept: var(--green);
}

//passar isso aq pras variables de cor
[data-theme="dark"] {
  --bg: #020617;
  --text: #f8fafc;
  --primary: #009bdc;
}
