:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
  --blue: #1b42f9;
  --gray: #6A6A6AFF;
  --green: #3ccc2e;


  //shadows
  --shadow-sm: 4px 4px #00000059;
  --shadow-md: 4px 4px #00000073;
  --shadow-lg: 4px 4px #0000008C;
  --shadow-plus: 4px 4px #00000099;
  --shadow-hard: 4px 4px 0 #000000E6;

  //radius
  --radius: 1.1rem;
}
