:root {
  //colors
  --black: #000000;
  --white: #ffffff;
  --error: #ff0002;


  //shadows
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.12);
  --shadow-md: 0 6px 15px rgba(0, 0, 0, 0.18);
  --shadow-lg: 0 12px 30px rgba(0, 0, 0, 0.25);
  --shadow-hard: 4px 4px 0 #000;
}
