.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.cursive-title {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin: 0;
}



//isso aqui eh esquema de botões
//<button class="btn btn--">
//<p style="margin: 0.1rem">
//                         {{ Text }}
//</p>
//

//</button>
