<fieldset class="card">
    <legend>Itens do pedido</legend>

    <!-- Search -->
    <div class="input-group">
        <input class="input-text" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
            placeholder="Buscar produto..." />
        <!--    <button type="button" (click)="searchProduct()">Buscar</button>-->
    </div>

    @if (foundProduct) {
    <div class="product-preview">
        <span>{{ foundProduct.name }} — R$ {{ foundProduct.price }}</span>
        <button type="button" (click)="addItem()">+ Adicionar</button>
    </div>
    }

    @for (item of itemsArray().controls; track $index) {
    @let isQuantityValid = isFieldValid($index, 'quantity');
    <div [formGroup]="asGroup($index)" class="item-row">
        <span>{{ asGroup($index).get('id').value }}</span>

        <input class="input-text" type="number" formControlName="quantity" />
        @if (isQuantityValid) {
        <span class="error">Quantidade inválida</span>
        }
        <button class="btn btn__danger" (click)="removeItem($index)">Remover</button>
    </div>
    }

    @if (itemsArray().length === 0) {
    <p>Nenhum item adicionado.</p>
    }
</fieldset>