<fieldset>
    <legend>Itens do pedido</legend>

    <!-- Search -->
    <div class="search-bar">
        <input [(ngModel)]="search" [ngModelOptions]="{standalone: true}" placeholder="Buscar produto..." />
        <!--    <button type="button" (click)="searchProduct()">Buscar</button>-->
    </div>

    @if (foundProduct) {
    <div class="product-preview">
        <span>{{ foundProduct.name }} — R$ {{ foundProduct.price }}</span>
        <button type="button" (click)="addItem()">+ Adicionar</button>
    </div>
    }

    @for (item of itemsArray().controls; track $index) {
    <div [formGroup]="asGroup($index)" class="item-row">
        <span>{{ asGroup($index).get('id').value }}</span>

        <input type="number" formControlName="quantity" />

        @if (asGroup($index).get('quantity')?.invalid && asGroup($index).get('quantity')?.touched) {
        <span class="error">Quantidade inválida</span>
        }

        <button type="button" (click)="removeItem($index)">Remover</button>
    </div>
    }

    @if (itemsArray().length === 0) {
    <p>Nenhum item adicionado.</p>
    }
</fieldset>