* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-medium;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #e3e9f7;
}

main {
  padding: 20px;
  position: fixed;
  z-index: 1;
  padding-left: calc(82px + 20px);
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 100vh;
  border-radius: 0px 18px 18px 0px;
  position: relative;
  transition: all 0.5s;
  min-width: 82px;
  z-index: 2;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre ícone e texto */
  padding: 6px 0;
}

li i {
  font-size: 18px; /* tamanho do ícone */
  color: #333; /* opcional */
}

li a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
