@let isPasswordValid = isFieldValid('password');
@let isEmailValid = isFieldValid('email');

<form class="card" [formGroup]="loginForm" (ngSubmit)="login()">
  <h1>Login</h1>

  <div class="form-content">
    <div class="input-group">

      <label for="email">Email</label>
      <input class="input-text" type="email" id="email" placeholder="email@email.com"
             formControlName="email"
             [class.invalid]=isEmailValid>
      @if (isEmailValid) {
        <small class="error"> Digite seu email! </small>
      }
    </div>


    <div class="input-group">
      <label for="password">Senha</label>
      <input class="input-text" type="password" id="password"
             placeholder="••••••••" formControlName="password"
             [class.invalid]=isPasswordValid
      >
      @if (isPasswordValid) {
        <small class="error"> Digite sua senha! </small>
      }
    </div>

  </div>

  <button class="btn btn--accept" type="submit" [disabled]="loginForm.invalid">Entrar</button>

  <div class="divider">OU</div>

  <div class="social-login">
    <div class="btn btn--small">
      <span> G </span>
    </div>
    <div class="btn btn--small">
      <span> F </span>
    </div>
    <div class="btn btn--small ">
      <span> X </span>
    </div>
  </div>

  <div class="footer">
    Não tem uma conta? <a href="#">Registre-se</a>
  </div>
</form>
