body {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}


h1 {
  color: var(--primary);
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--primary);
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
}


.footer {
  text-align: center;
  margin-top: 20px;
  color: var(--primary);
}

.footer a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem; // controla o espaçamento
}
