<div class="card">
  <h1>Login</h1>

  <div class="input-group">
    <label for="email">Email</label>
    <input class="input-text" type="email" id="email" placeholder="your@email.com">
  </div>

  <div class="input-group">
    <label for="password">Senha</label>
    <input class="input-text" type="password" id="password" placeholder="••••••••">
  </div>

  <button class="btn btn--accept" type="submit">SIGN IN</button>

  <div class="divider">OU</div>

  <div class="social-login">
    <div class="btn btn--small">
      <span> G </span>
    </div>
    <div class="btn btn--small">
      <span> F </span>
    </div>
    <div class="btn btn--small ">
      <span> X </span>
    </div>
  </div>

  <div class="footer">
    Não tem uma conta? <a href="#">Registre-se</a>
  </div>
</div>
